{% extends 'base.html' %}


{% block content %}


<div class="showcase container">
    <div class="titles">
        <h1>WELCOME TO GREYBOX</h1><br>
        <h2>TECHNOLOGIES</h2><br>
        <h1>DATA WORKS</h1>
    </div>
</div>
<div class="info-box container">
    <h2>DATA WORKS</h2>
    <p>This tool aims to simplify data analysis</p>
    <p>The user has to only insert a dataset in a .csv file or .xlsx file</p>
    <p>This tool provide Data Analysis and Data Visualization, caters two different types of Analytics</p>
    <ul class="container">
        <!--<li><h3>PRESCRIPTIVE</h3><img src="../static/assets/pexels-mikael-blomkvist-6476583.jpg" height="200px" width="200px" alt=""></li>-->
        <li><h3>DESCRIPTIVE</h3><img src="../static/assets/pexels-lukas-669615.jpg" height="200px" width="200px" alt=""></li>
        <li><h3>PREDICTIVE</h3><img src="../static/assets/pexels-alesia-kozik-6781273.jpg" height="200px" width="200px" alt=""></li>
    </ul>
</div>


{% endblock content %}